@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "normalize";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: -webkit-focus-ring-color auto 0px !important;
    }
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

// START FLEXBOX HELP CLASS

.dflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.frow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fcolumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jbetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jcenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jend {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.vtop {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vbottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.itop {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.icenter {
    -ms-flex-item-align: center;
    align-self: center;
}

.iend {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

// END FLEXBOX HELP CLASS

.anim {
    transition: .3s all ease;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
