@import "normalize";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

// START FLEXBOX HELP CLASS

.dflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.frow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fcolumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jbetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jcenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jend {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.vtop {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vbottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.itop {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.icenter {
    -ms-flex-item-align: center;
    align-self: center;
}

.iend {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

// END FLEXBOX HELP CLASS

.anim {
    transition: .3s all ease;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

.header {
    background-image: url(../img/sec1.jpg);   
    min-height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;    
    .dflex;
    .jcenter;

    .header-top {       
        .block {
            .dflex;
            justify-content: space-around;
            .vcenter;
            align-items: center;
            padding-top: 21px;

            .block-logo {
                padding-left: 32px;

                img {
                    width: 55px;
                    height: 55px;
                }
            }

            .block-nav {
                .dflex;
                padding-top: 5px;

                li {
                    padding-right: 51px;

                    a {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
            }

            .block-option {
                .dflex;
                .jbetween;
                .vcenter;
                padding-top: 9px;
                padding-right: 32px;

                .block-select {
                    padding-right: 30px;

                    .jq-selectbox {

                        .jq-selectbox__select {
                            padding: 0;
                            border: none;
                            border-bottom-color: none;
                            border-radius: 0;
                            background: transparent;
                            box-shadow: none;
                            font-weight: 700;
                            color: #fff;
                            text-transform: uppercase;
                            text-shadow: none;
                        }

                        .jq-selectbox__trigger {
                            position: absolute;
                            top: 0;
                            right: -25px;
                            width: 34px;
                            height: 30px;
                            opacity: 0.5;
                            border-right: 0.873968px solid #FFFFFF;

                            border-left: none;

                            .jq-selectbox__trigger-arrow {
                                border: none;
                                background-image: url(../img/arrow.svg);
                                background-repeat: no-repeat;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }

                .block-console {
                    a {
                        padding-left: 14px;
                    }
                }
            }
        }
    }

    .header-info {   
        margin-top: 228px;     
        text-align: center;                      

        h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 700;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #fff;
        }

        h2 {
            padding-top: 4px;
            padding-bottom: 33px;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2px;
            color: #fff;
        }

        button {
            padding: 19px 38px;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #1A1917;
            background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
            border-radius: 4px;


            span {
                padding-left: 10px;
                border-left: 0.873968px solid #1A1917;
                margin-left: 8px;
            }
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-54%);
            bottom: 54px;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
            color: #fff;
            background-color: transparent;
        }
    }
}

.about {
    min-height: 100vh;  
    padding: 18=rem 0 14rem;         
    background-image: url(../img/sec2.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .about-inner {
        .dflex;               

        .about-info {
            padding-left: 120px;
            padding-top: 55px;

            .about-title {
                font-family: 'Bebas Neue', sans-serif;
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 2px;
                color: #fff;
            }

            .about-subtitle {
                padding: 10px 0 70px;
                font-family: 'Bebas Neue', sans-serif;
                font-weight: bold;
                font-size: 80px;
                line-height: 80px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #FFF;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    border: 2px solid #fff;
                    border-radius: 4px;
                    width: 711px;
                    bottom: 61px;
                }
            }

            .about-descr {
                margin-left: 190px;
                width: 374px;
                font-size: 18px;
                line-height: 22px;
                color: #fff;
                word-spacing: 2px;

                span {
                    font-weight: 700;

                    &:last-child {
                        font-weight: 400;
                        text-transform: underline;
                        border-bottom: 4px solid #FFB548;
                    }
                }
            }

        }

        .about-slider {
            margin-left: 15px;

            img {
                max-width: 502px;
                max-height: 610px;
            }

        }

    }
}

.features {
    background-image: url(../img/sec3.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.config {
    background-image: url(../img/sec4.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quotes {

}

.subscribe {
    
}

.footer {
    background-color: #000;
    height: 233px;

    .footer-top {
        padding: 15px 120px 0;
        .dflex;
        .jbetween;
        .vcenter;

        .footer-logo {
            padding-right: 10px;

            img {
                width: 90px;
                height: 90px;
            }
        }

        ul {
            .dflex;
            .jbetween;
            padding-top: 41px;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            li {
                a {
                    padding-left: 40px;
                }
            }
        }

        .socials {
            ul {
                padding-top: 40px;

                li {
                    .facebook {
                        width: 9px;
                        height: 19px;
                    }

                    .twitter {
                        width: 21px;
                        height: 16px;
                    }

                    .youtube {
                        width: 25px;
                        height: 18px;
                    }

                    .twitch {
                        width: 19px;
                        height: 18px;
                    }
                }

                li+li {
                    padding-left: 56px;
                }
            }
        }
    }

    .footer-bot {
        padding-top: 49px;
        .dflex;
        .jbetween;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            border-bottom: 0.873968px solid #FFFFFF;
            opacity: 0.5;
            width: 1197px;
            top: 27px;
            left: 120px;
        }

        .copy {
            padding-left: 124px;
            font-size: 14px;
            line-height: 19px;
            color: #FFF;
            opacity: 0.5;
        }

        ul {
            .dflex;
            .jbetween;
            padding-top: 4px;
            padding-right: 120px;

            li {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFF;
            }

            li+li {
                padding-left: 16px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    border-right: 1px solid #fff;
                    height: 10px;
                    top: 3px;
                    left: 6px;
                }
            }
        }
    }
}